In [20]:
import pandas as pd
df=pd.read_csv("Data_set.csv")
df.head(10)
df.tail()
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   show_name                 96 non-null     object
 1   country                   100 non-null    object
 2   num_episodes              100 non-null    int64
 3   aired_on                  99 non-null     object
 4   original_network          99 non-null     object
 5   rating                    96 non-null     float64
 6   current_overall_rank      97 non-null     float64
 7   lifetime_popularity_rank  100 non-null    int64
 8   watchers                  97 non-null     float64
dtypes: float64(3), int64(2), object(4)
memory usage: 7.2+ KB
checking for null values

show_name                   4
country                     0
num_episodes                0
aired_on                    1
original_network            1
rating                      4
current_overall_rank        3
lifetime_popularity_rank    0
watchers                    3
dtype: int64

In [15]:
df.head(10)

,show_name,country,num_episodes,aired_on,original_network,rating,current_overall_rank,lifetime_popularity_rank,watchers
0,A Korean Odyssey,South Korea,16,"Friday, Saturday",tvN,8.9,33.0,1,111706.0
1,A Korean Odyssey,South Korea,16,"Friday, Saturday",jTBC,8.7,89.0,2,100950.0
2,Descendants of the Sun,South Korea,16,"Wednesday, Thursday",KBS2,8.7,77.0,3,96318.0
3,Boys Over Flowers,South Korea,25,"Monday, Tuesday",KBS2,7.7,2249.0,4,94228.0
4,W,South Korea,16,"Wednesday, Thursday",MBC,8.5,201.0,5,92121.0
5,You Who Came from the Stars,South Korea,21,"Wednesday, Thursday",SBS,8.6,112.0,6,91360.0
6,Weightlifting Fairy Kim Bok Joo,South Korea,16,"Wednesday, Thursday",MBC,8.8,40.0,7,91330.0
7,The Heirs,South Korea,20,"Wednesday, Thursday",SBS,7.5,2817.0,8,90467.0
8,Pinocchio,South Korea,20,"Wednesday, Thursday",SBS,8.3,273.0,9,82893.0
9,Healer,South Korea,20,"Monday, Tuesday",KBS2,8.9,25.0,10,34523.0

In [19]:
df['show_name']=df['show_name'].fillna(df['show_name'].mode()[0])
df['aired_on']=df['aired_on'].fillna(df['aired_on'].mode()[0])
df['original_network']=df['original_network'].fillna(df['original_network'].mode()[0])
df['rating']=df['rating'].fillna(df['rating'].mode()[0])
df['current_overall_rank']=df['current_overall_rank'].fillna(df['current_overall_rank'].mode()[0])
df['watchers']=df['watchers'].fillna(df['watchers'].mode()[0])
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   show_name                 100 non-null    object
 1   country                   100 non-null    object
 2   num_episodes              100 non-null    int64
 3   aired_on                  100 non-null    object
 4   original_network          100 non-null    object
 5   rating                    100 non-null    float64
 6   current_overall_rank      100 non-null    float64
 7   lifetime_popularity_rank  100 non-null    int64
 8   watchers                  100 non-null    float64
dtypes: float64(3), int64(2), object(4)
memory usage: 7.2+ KB

show_name                   0
country                     0
num_episodes                0
aired_on                    0
original_network            0
rating                      0
current_overall_rank        0
lifetime_popularity_rank    0
watchers                    0
dtype: int64

In [26]:
import pandas as pd
df=pd.read_csv('Data_set.csv')
print("Checking For Null values:")
print(df.isnull().sum())
df['show_name']=df['show_name'].fillna(df['show_name'].mode()[0])
df['aired_on']=df['aired_on'].fillna(df['aired_on'].mode()[0])
df['original_network']=df['original_network'].fillna(df['original_network'].mode()[0])
df['rating']=df['rating'].fillna(df['rating'].mean())
df['current_overall_rank']=df['current_overall_rank'].fillna(df['current_overall_rank'].median())
df['watchers']=df['watchers'].fillna(df['watchers'].median())
print()
print("Checking for Null after cleaning data:")
print(df.isnull().sum())
df.to_csv('Data_set.csv', index=False)

Checking For Null values:
show_name                   0
country                     0
num_episodes                0
aired_on                    0
original_network            0
rating                      0
current_overall_rank        0
lifetime_popularity_rank    0
watchers                    0
dtype: int64

Checking for Null after cleaning data:
show_name                   0
country                     0
num_episodes                0
aired_on                    0
original_network            0
rating                      0
current_overall_rank        0
lifetime_popularity_rank    0
watchers                    0
dtype: int64

In [27]:
import pandas as pd
df=pd.read_csv('Data_set.csv')
print(df.isnull().sum())
df['show_name']=df['show_name'].fillna(df['show_name'].mode()[0])
df['aired_on']=df['aired_on'].fillna(df['aired_on'].mode()[0])
df['original_network']=df['original_network'].fillna(df['original_network'].mode()[0])
df['rating']=df['rating'].fillna(df['rating'].mean())
df['current_overall_rank']=df['current_overall_rank'].fillna(df['current_overall_rank'].median())
df['watchers']=df['watchers'].fillna(df['watchers'].median())
print(df.isnull().sum())

show_name                   0
country                     0
num_episodes                0
aired_on                    0
original_network            0
rating                      0
current_overall_rank        0
lifetime_popularity_rank    0
watchers                    0
dtype: int64
show_name                   0
country                     0
num_episodes                0
aired_on                    0
original_network            0
rating                      0
current_overall_rank        0
lifetime_popularity_rank    0
watchers                    0
dtype: int64